api:
  host: "localhost:9090"

db:
  conn: "postgres://hadith:hadith@hadith-db:54302/hadith?sslmode=disable"

http:
  readHeaderTimeout: 10s

meiliSearch:
    apiKey: "some_key"
    host: "localhost:7070"

openAI: